<mat-toolbar color="primary" d-flex space-between>
  <span>
    <a routerLink="/">SecretMemes</a>
  </span>
  <span>
    <span class="spacer">

    </span>
    <ul>
      <li>
        <a *ngIf="isUserAuthenticated" mat-button routerLinkActive="mat-accent" routerLink="/create">New Post</a>
      </li>
      <li>
        <a *ngIf="!isUserAuthenticated" mat-button routerLinkActive="mat-accent" routerLink="/login">Login</a>
      </li>
      <li>
        <a *ngIf="!isUserAuthenticated" mat-button routerLinkActive="mat-accent" routerLink="/signup">Signup</a>
      </li>
      <li>
        <button *ngIf="isUserAuthenticated" mat-button (click)="onLogOut()">Logout</button>
      </li>
    </ul>
  </span>
</mat-toolbar>
