<mat-toolbar color="primary" d-flex space-between>
  <span>
    <a routerLink="/">My Messages</a>
  </span>
  <span>
    <span class="spacer">

    </span>
    <ul>
      <li>
        <a mat-button routerLinkActive="mat-accent" routerLink="/create">New Post</a>
      </li>
      <li>
        <a mat-button routerLinkActive="mat-accent" routerLink="/login">Login</a>
      </li>
      <li>
        <a mat-button routerLinkActive="mat-accent" routerLink="/signup">Signup</a>
      </li>
    </ul>
  </span>
</mat-toolbar>
